<div class="jumbotron">
  <form [formGroup]="retrieveForm" *ngIf="!sentPassword">
    <div class="login-form">
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="e.g. me@me.com">
      </div>
    </div>
    <button [disabled]="!retrieveForm.valid" class="btn btn-primary btn-block" type="submit" (click)="sendPassword()">Retrieve</button>
  </form>
  <div *ngIf="sentPassword">
    <h1>We sent you<br/>your password ;-)</h1>
  </div>
</div>